-f /usr/share/pip-wheels
Django==2.0
google-api-python-client==1.6.5
httplib2==0.10.3
oauth2client==4.1.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2017.3
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
youtube-dl==2017.12.28
gunicorn==19.7.1
