{% extends 'grab/index.html' %}
{% load staticfiles %}
{% block content %}
    <form class="form-signin" method="POST" action="">{% csrf_token %}
      <h3 style="color: #fff" class="form-signin-heading"><b style="color: #fff">Grab Store !<i class="em em-anchor"></i></b><br>Download Songs For Free !</h3>
      <input class="form-control" placeholder="Song name here...." required="" autofocus="" name="song_name" type="text">
      {% if search_result %}
      <ul>
        {% for items in search_result %}
        <a href="{{items|get_link}}">{{items|get_title}}</a>
        {% endfor %}
      </ul> 
      {% endif %}
      {%if gotIt %}
      <h4 style="color: #fff"> Please select then press download !</h4>
      <a href="{{fname}}" class="btn btn-success " role="button">Download Link</a>
      {% else %}
      <p style="color: #fff"><br>After submission, please wait until the page has finished loading <i class="em em-sunglasses"></i></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      {% endif %}
    </form>
{% endblock %}