{% load grabExtras %}
<!DOCTYPE html>
<html class="gr__getbootstrap_com" lang="en" >

<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Grab Store! Download songs for free!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>
    <body data-gr-c-s-loaded="true" style="background-color: #444">
    <div class="container" >

    <form class="form-signin" method="POST" action="">{% csrf_token %}
      <h3 style="color: #fff" class="form-signin-heading"><b style="color: #fff">Grab Store !<i class="em em-anchor"></i></b><br>Download Songs For Free !</h3>
        <input class="form-control" placeholder="Song name here...." required="" autofocus="" name="song_name" type="text">
          {% if search_result %}
              <ul>
              {% for items in search_result %}
              <a href="{{items|get_link}}">{{items|get_title}}</a>
              {% endfor %}
</ul> 
          {% endif %}
          {%if gotIt %}
              <h4 style="color: #fff"> Please select then press download !</h4>
              <a href="{{fname}}" class="btn btn-success " role="button">Download Link</a>
          {% else %}
              <p style="color: #fff"><br>After submission, please wait until the page has finished loading <i class="em em-sunglasses"></i></p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
          {% endif %}
          
    </form>
    </div> <!-- /container -->
</body>
 <footer class="form-signin-heading" style="text-align: center">
  <p>Created by: Kazi Rahiv</p>
  <p>Bug Report: <a href="mailto:rahivjobs@gmail.com">
  rahivjobs@gmail.com</a>.</p>
</footer> 
</html>



