<!DOCTYPE html>
<html class="gr__getbootstrap_com" lang="en" ><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Grab! Download Youtube Videos</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!-- Custom styles for this template -->
   
    <link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
  <style></style></head>

  <body data-gr-c-s-loaded="true" style="background-color: #444">
    <div class="container" >

      <form class="form-signin" method="POST" action="">{% csrf_token %}
        <h3 style="color: #fff" class="form-signin-heading"><b style="color: #fff">Grab !<i class="em em-anchor"></i></b><br>Download Youtube Videos</h3>
        <input class="form-control" placeholder="Video link here...." required="" autofocus="" name="link" type="text">
      {%if downloaded %}
         <h4 style="color: #fff"> Download Complete !</h4>
         <a href="{{fname}}" class="btn btn-success " role="button">Download Link</a>
      {% else %}
          <p style="color: #fff">After submission, please wait until the page has finished loading <i class="em em-sunglasses"></i></p>
      {% endif %}
        <div class="checkbox" style="color: #fff">
          <label>
            <input value="checked" name="checked" type="checkbox"> Convert it to mp3
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Download </button>
      </form>

    </div> <!-- /container -->
</body></html>





